#search-bar {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding-right: 200px;

}

#btn-search {
    position: absolute;
    right: 300px;
    top: 90px;
    background-color: red;
    padding: 10px;
    width: 150px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;

}
.background-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: url('/assets/img/backround-img-event-search.png');
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
}
